In [11]:
#bağlantı modülü
import pymssql
#bağlantı bilgileri
_server=""
_database="cargo2"
_user=""
_pass=""
conn = pymssql.connect(server=_server, user=_user, password=_pass, database=_database)
#işlemler için imleç tanımı
cursor = conn.cursor()

In [12]:
#1 - Customer tablosunun oluşturulması
cursor.execute("""
CREATE TABLE [dbo].[Customer](
	[C_ID] [int] IDENTITY(1,1) NOT NULL,
	[F_ID] [int] NULL,
	[A_M_ID] [int] NULL,
	[C_Name] [varchar](50) NULL,
	[C_Address] [text] NULL,
	[C_Number] [varchar](50) NULL,
	[C_Email] [varchar](50) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[C_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
""")
conn.commit()

In [13]:
#2 - Feedback tablosunun oluşturulması
cursor.execute("""CREATE TABLE [dbo].[Feedback](
	[F_ID] [int] IDENTITY(1,1) NOT NULL,
	[F_Name] [varchar](50) NULL,
	[F_EMail] [varchar](50) NULL,
	[F_Message] [varchar](100) NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[F_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]""")
conn.commit()

In [14]:
#3 - Cargo_Location tablosunun oluşturulması
cursor.execute("""CREATE TABLE [dbo].[Cargo_Location](
	[CL_ID] [int] IDENTITY(1,1) NOT NULL,
	[CL_Location] [text] NULL,
 CONSTRAINT [PK_Cargo_Location] PRIMARY KEY CLUSTERED 
(
	[CL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]""")
conn.commit()

In [15]:
#4 - Cargo_detail tablosunun oluşturulması
cursor.execute("""CREATE TABLE [dbo].[Cargo_Detail](
	[Cargo_ID] [int] IDENTITY(1,1) NOT NULL,
	[Cargo_Product] [varchar](50) NULL,
	[Cargo_Detail] [text] NULL,
 CONSTRAINT [PK_Cargo_Detail] PRIMARY KEY CLUSTERED 
(
	[Cargo_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]""")
conn.commit()

In [16]:
#5 - Payment tablosunun oluşturulması
cursor.execute("""CREATE TABLE [dbo].[Payment](
	[P_ID] [int] IDENTITY(1,1) NOT NULL,
	[C_ID] [int] NULL,
	[Payment_Type] [varchar](50) NULL,
	[Payment_Detail] [varchar](50) NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[P_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]""")
conn.commit()

In [17]:
#6 - Admin_Message_Detail tablosunun oluşturulması
cursor.execute("""CREATE TABLE [dbo].[Admin_Message_Detail](
	[A_M_ID] [int] IDENTITY(1,1) NOT NULL,
	[A_M_Name] [varchar](50) NULL,
	[A_M_Type] [varchar](50) NULL,
	[A_M_Message] [text] NULL,
 CONSTRAINT [PK_Adim_Message_Detail] PRIMARY KEY CLUSTERED 
(
	[A_M_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]""")
conn.commit()

In [18]:
#7 - Admin tablosunun oluşturulması
cursor.execute("""CREATE TABLE [dbo].[Admin](
	[A_ID] [int] IDENTITY(1,1) NOT NULL,
	[A_Name] [varchar](50) NULL,
	[A_Email] [varchar](50) NULL,
	[A_Number] [varchar](50) NULL,
	[A_Password] [varchar](50) NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[A_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]""")
conn.commit()

In [19]:
#8 - Company tablosunun oluşturulması
cursor.execute("""CREATE TABLE [dbo].[Company](
	[Company_ID] [int] IDENTITY(1,1) NOT NULL,
	[Company_Address] [text] NULL,
	[Company_Number] [varchar](50) NULL,
	[Company_Mail] [varchar](50) NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[Company_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]""")
conn.commit()

In [20]:
#9 - Customer_Message_Detail tablosunun oluşturulması
cursor.execute("""CREATE TABLE [dbo].[Customer_Message_Detail](
	[C_M_ID] [int] IDENTITY(1,1) NOT NULL,
	[C_M_Name] [varchar](50) NULL,
	[C_M_Message] [text] NULL,
 CONSTRAINT [PK_Customer_Message_Detail] PRIMARY KEY CLUSTERED 
(
	[C_M_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]""")
conn.commit()

In [21]:
# Özel - Oluşturulan tabloların listelenmesi
cursor.execute("SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE = 'BASE TABLE' AND TABLE_CATALOG='"+_database+"'")
for row in cursor:
    print(row)

('Customer',)
('Feedback',)
('Cargo_Location',)
('Cargo_Detail',)
('Payment',)
('Admin_Message_Detail',)
('Admin',)
('Company',)
('Customer_Message_Detail',)

In [22]:
#10 - Admin tablosuna veri ekleme
cursor.execute("""INSERT INTO cargo2.dbo.Admin
(A_Name, A_Email, A_Number, A_Password)
VALUES('insert_name', 'insert_email', 'insert_tel', 'insert_number');
""")
conn.commit()

In [23]:
#11 - Admin_Message_Detail tablosuna veri ekleme
cursor.execute("""INSERT INTO cargo2.dbo.Admin_Message_Detail
(A_M_Name, A_M_Type, A_M_Message)
VALUES('insert_name', 'insert_type', 'insert_message');
""")
conn.commit()

In [24]:
#12 - Cargo_Detail tablosuna veri ekleme
cursor.execute("""INSERT INTO cargo2.dbo.Cargo_Detail
(Cargo_Product, Cargo_Detail)
VALUES('insert_product', 'insert_detail');
""")
conn.commit()

In [25]:
#13 - Cargo_Location tablosuna veri ekleme
cursor.execute("""INSERT INTO cargo2.dbo.Cargo_Location
(CL_Location)
VALUES('insert_location');
""")
conn.commit()

In [26]:
#14 - Company tablosuna veri ekleme
cursor.execute("""INSERT INTO cargo2.dbo.Company
(Company_Address, Company_Number, Company_Mail)
VALUES('insert_address', 'insert_number', 'insert_mail');
""")
conn.commit()

In [27]:
#15 - Customer tablosuna veri ekleme
cursor.execute("""INSERT INTO cargo2.dbo.Customer
(F_ID, A_M_ID, C_Name, C_Address, C_Number, C_Email)
VALUES(1, 1, 'insert_name', 'insert_address', 'insert_number', 'insert_email');
""")
conn.commit()

In [28]:
#16 - Customer_Message_Detail tablosuna veri ekleme
cursor.execute("""INSERT INTO cargo2.dbo.Customer_Message_Detail
(C_M_Name, C_M_Message)
VALUES('insert_name', 'insert_message');
""")
conn.commit()

In [29]:
#17 - Feedback tablosuna veri ekleme
cursor.execute("""INSERT INTO cargo2.dbo.Feedback
(F_Name, F_EMail, F_Message)
VALUES('insert_name', 'insert_email', 'insert_message');
""")
conn.commit()

In [30]:
#18 - Payment tablosuna veri ekleme
cursor.execute("""INSERT INTO cargo2.dbo.Payment
(C_ID, Payment_Type, Payment_Detail)
VALUES(1, 'insert_type', 'insert_detail');
""")
conn.commit()

In [31]:
#19 - Admin tablosundaki veriyi güncelleme
cursor.execute("""UPDATE cargo2.dbo.Admin
SET A_Name='update_name', A_Email='update_email', A_Number='update_number', A_Password='update_password'
WHERE A_ID=1;
""")
conn.commit()

In [32]:
#20 - Admin_Message_Detail tablosundaki veriyi güncelleme
cursor.execute("""UPDATE cargo2.dbo.Admin_Message_Detail
SET A_M_Name='update_name', A_M_Type='update_type', A_M_Message='update_message'
WHERE A_M_ID=1;
""")
conn.commit()

In [33]:
#21 - Cargo_Detail tablosundaki veriyi güncelleme
cursor.execute("""UPDATE cargo2.dbo.Cargo_Detail
SET Cargo_Product='update_product', Cargo_Detail='update_detail'
WHERE Cargo_ID=1;
""")
conn.commit()

In [34]:
#22 - Cargo_Location tablosundaki veriyi güncelleme
cursor.execute("""UPDATE cargo2.dbo.Cargo_Location
SET CL_Location='update_location'
WHERE CL_ID=1;
""")
conn.commit()

In [35]:
#23 - Company tablosundaki veriyi güncelleme
cursor.execute("""UPDATE cargo2.dbo.Company
SET Company_Address='update_address', Company_Number='update_number', Company_Mail='update_mail'
WHERE Company_ID=1;
""")
conn.commit()

In [36]:
#24 - Customer tablosundaki veriyi güncelleme
cursor.execute("""UPDATE cargo2.dbo.Customer
SET F_ID=1, A_M_ID=1, C_Name='update_name', C_Address='update_address', C_Number='update_number', C_Email='update_email'
WHERE C_ID=1;
""")
conn.commit()

In [37]:
#25 - Customer_Message_Detail tablosundaki veriyi güncelleme
cursor.execute("""UPDATE cargo2.dbo.Customer_Message_Detail
SET C_M_Name='update_name', C_M_Message='update_message'
WHERE C_M_ID=1;
""")
conn.commit()

In [38]:
#26 - Feedback tablosundaki veriyi güncelleme
cursor.execute("""UPDATE cargo2.dbo.Feedback
SET F_Name='update_name', F_EMail='update_email', F_Message='update_message'
WHERE F_ID=1;
""")
conn.commit()

In [39]:
#27 - Payment tablosundaki veriyi güncelleme
cursor.execute("""UPDATE cargo2.dbo.Payment
SET C_ID=1, Payment_Type='update_type', Payment_Detail='update_detail'
WHERE P_ID=1;
""")
conn.commit()

In [40]:
#28 - Admin tablosundaki verileri listeleme
cursor.execute("""SELECT A_ID, A_Name, A_Email, A_Number, A_Password
FROM cargo2.dbo.Admin;
""")
for row in cursor:
    print(row)

(1, 'update_name', 'update_email', 'update_number', 'update_password')

In [41]:
#29 - Admin_Message_Detail tablosundaki verileri listeleme
cursor.execute("""SELECT A_M_ID, A_M_Name, A_M_Type, A_M_Message
FROM cargo2.dbo.Admin_Message_Detail;
""")
for row in cursor:
    print(row)

(1, 'update_name', 'update_type', 'update_message')

In [42]:
#30 - Cargo_Detail tablosundaki verileri listeleme
cursor.execute("""SELECT Cargo_ID, Cargo_Product, Cargo_Detail
FROM cargo2.dbo.Cargo_Detail;
""")
for row in cursor:
    print(row)

(1, 'update_product', 'update_detail')

In [43]:
#31 - Cargo_Location tablosundaki verileri listeleme
cursor.execute("""SELECT CL_ID, CL_Location
FROM cargo2.dbo.Cargo_Location;
""")
for row in cursor:
    print(row)

(1, 'update_location')

In [44]:
#32 - Company tablosundaki verileri listeleme
cursor.execute("""SELECT Company_ID, Company_Address, Company_Number, Company_Mail
FROM cargo2.dbo.Company;
""")
for row in cursor:
    print(row)

(1, 'update_address', 'update_number', 'update_mail')

In [45]:
#33 - Customer tablosundaki verileri listeleme
cursor.execute("""SELECT C_ID, F_ID, A_M_ID, C_Name, C_Address, C_Number, C_Email
FROM cargo2.dbo.Customer;
""")
for row in cursor:
    print(row)

(1, 1, 1, 'update_name', 'update_address', 'update_number', 'update_email')

In [46]:
#34 - Customer_Message_Detail tablosundaki verileri listeleme
cursor.execute("""SELECT C_M_ID, C_M_Name, C_M_Message
FROM cargo2.dbo.Customer_Message_Detail;
""")
for row in cursor:
    print(row)

(1, 'update_name', 'update_message')

In [47]:
#35 - Feedback tablosundaki verileri listeleme
cursor.execute("""SELECT F_ID, F_Name, F_EMail, F_Message
FROM cargo2.dbo.Feedback;
""")
for row in cursor:
    print(row)

(1, 'update_name', 'update_email', 'update_message')

In [48]:
#36 - Payment tablosundaki verileri listeleme
cursor.execute("""SELECT P_ID, C_ID, Payment_Type, Payment_Detail
FROM cargo2.dbo.Payment;
""")
for row in cursor:
    print(row)

(1, 1, 'update_type', 'update_detail')

In [ ]:
#37 - Admin tablosundan veri silme
cursor.execute("""DELETE FROM cargo2.dbo.Admin
WHERE A_ID=1;
""")
conn.commit()

In [ ]:
#38 - Admin_Message_Detail tablosundan veri silme
cursor.execute("""DELETE FROM cargo2.dbo.Admin_Message_Detail
WHERE A_M_ID=1;
""")
conn.commit()

In [ ]:
#39 - Cargo_Detail tablosundan veri silme
cursor.execute("""DELETE FROM cargo2.dbo.Cargo_Detail
WHERE Cargo_ID=1;
""")
conn.commit()

In [ ]:
#40 - Cargo_Location tablosundan veri silme
cursor.execute("""DELETE FROM cargo2.dbo.Cargo_Location
WHERE CL_ID=1;
""")
conn.commit()

In [ ]:
#41 - Company tablosundan veri silme
cursor.execute("""DELETE FROM cargo2.dbo.Company
WHERE Company_ID=1;
""")
conn.commit()

In [ ]:
#42 - Customer tablosundan veri silme
cursor.execute("""DELETE FROM cargo2.dbo.Customer
WHERE C_ID=1;
""")
conn.commit()

In [ ]:
#43 - Customer_Message_Detail tablosundan veri silme
cursor.execute("""DELETE FROM cargo2.dbo.Customer_Message_Detail
WHERE C_M_ID=1;
""")
conn.commit()

In [ ]:
#44 - Feedback tablosundan veri silme
cursor.execute("""DELETE FROM cargo2.dbo.Feedback
WHERE F_ID=1;
""")
conn.commit()

In [ ]:
#45 - Payment tablosundan veri silme
cursor.execute("""DELETE FROM cargo2.dbo.Payment
WHERE P_ID=1;
""")
conn.commit()

In [ ]:
#46 - Admin tablosundan veri silme
cursor.execute("""DELETE FROM cargo2.dbo.Admin
WHERE A_ID=1;
""")
conn.commit()

In [ ]:
#49 - Admin_Message_Detail tablosunun silinmesi
cursor.execute("""DROP TABLE cargo2.dbo.Admin_Message_Detail
""")
conn.commit()

In [ ]:
#50 - Cargo_Detail tablosunun silinmesi
cursor.execute("""DROP TABLE cargo2.dbo.Cargo_Detail
""")
conn.commit()

In [ ]:
#51 - Cargo_Location tablosunun silinmesi
cursor.execute("""DROP TABLE cargo2.dbo.Cargo_Location
""")
conn.commit()

In [ ]:
#52 - Company tablosunun silinmesi
cursor.execute("""DROP TABLE cargo2.dbo.Company
""")
conn.commit()

In [ ]:
#53 - Customer_Message_Detail tablosunun silinmesi
cursor.execute("""DROP TABLE cargo2.dbo.Customer_Message_Detail
""")
conn.commit()

In [ ]:
#54 - Feedback tablosunun silinmesi
cursor.execute("""DROP TABLE cargo2.dbo.Feedback
""")
conn.commit()

In [ ]:
#55 - Payment tablosunun silinmesi
cursor.execute("""DROP TABLE cargo2.dbo.Payment
""")
conn.commit()

In [ ]:
#56 - Customer tablosunun silinmesi
cursor.execute("""DROP TABLE cargo2.dbo.Customer
""")
conn.commit()

In [ ]:
#57 - Admin tablosunun silinmesi
cursor.execute("""DROP TABLE cargo2.dbo.Admin
""")
conn.commit()

In [ ]:
#58 - Customer tablosu oluşturma ve ardından metin içeren kolonların tüm harflerini büyütme
cursor.execute("""CREATE TABLE [dbo].[Customer](
	[C_ID] [int] IDENTITY(1,1) NOT NULL,
	[F_ID] [int] NULL,
	[A_M_ID] [int] NULL,
	[C_Name] [varchar](50) NULL,
	[C_Address] [text] NULL,
	[C_Number] [varchar](50) NULL,
	[C_Email] [varchar](50) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[C_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
""")
conn.commit()

cursor.execute("""EXECUTE sp_rename N'dbo.Customer.C_Name', N'Tmp_C_NAME_1', 'COLUMN' 
EXECUTE sp_rename N'dbo.Customer.C_Address', N'Tmp_C_ADDRESS_2', 'COLUMN' 
EXECUTE sp_rename N'dbo.Customer.C_Number', N'Tmp_C_NUMBER_3', 'COLUMN' 
EXECUTE sp_rename N'dbo.Customer.C_Email', N'Tmp_C_EMAIL_4', 'COLUMN' 
EXECUTE sp_rename N'dbo.Customer.Tmp_C_NAME_1', N'C_NAME', 'COLUMN' 
EXECUTE sp_rename N'dbo.Customer.Tmp_C_ADDRESS_2', N'C_ADDRESS', 'COLUMN' 
EXECUTE sp_rename N'dbo.Customer.Tmp_C_NUMBER_3', N'C_NUMBER', 'COLUMN' 
EXECUTE sp_rename N'dbo.Customer.Tmp_C_EMAIL_4', N'C_EMAIL', 'COLUMN' 
ALTER TABLE dbo.Customer SET (LOCK_ESCALATION = TABLE)
""")
conn.commit()